* {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 5em;
}

.App-header {
  background-color: #000000;
  height: 5em;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* THIS WAS ADDED BY RUEGEN  */
.main-wrapper {
   padding: .5em;
}