.App {
  text-align: center;
}

.App-logo {
  /* padding-top: 20px; */
  height: 5em;
}

.App-header {
  background-color: #000000;
  height: 5em;
  /* padding: 0.1em; */
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* THIS WAS ADDED BY RUEGEN  */
.main-wrapper {
   padding: .5em;
}